*, body, html {
    height: fit-content;
}

.header {
    width: 100%;
    height: 100px;
    background-color: var(--green);
    box-sizing: border-box;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 15px;
    max-width: 1440px;
    margin: 0 auto;
}

.header .logo {
    width: 80px;
    height: 80px;
    background-color: #fff;
    color: var(--green);
    display: grid;
    place-items: center;
}

.header nav .nav__list {
    display: flex;
    gap: 30px;
    transition: 200ms ease-in-out;
}

.header nav .nav__list .nav__item a {
    display: block;
    transition: 200ms ease-in-out;
}

.header nav .nav__list .nav__item a:hover {
    color: var(--very-dark-purple);
}

.header nav .nav__list .nav__item.active a {
    color: var(--very-dark-purple);
}

.header nav .hamburger {
    width: 30px;
    height: 25px;
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    /* start nav active */
    header nav.active .nav__list {
        visibility: visible;
        background-color: var(--dark-green);
        transform: translateX(0);
    }

    header nav.active .hamburger span {
        background-color: var(--very-dark-purple);
    }

    header nav.active .hamburger span:first-of-type {
        transform: translateY(10px) rotate(135deg);
    }

    header nav.active .hamburger span:nth-of-type(2) {
        opacity: 0;
    }

    header nav.active .hamburger span:last-of-type {
        transform: translateY(-10px) rotate(-135deg);
    }
    /* end nav active */    

    nav .nav__list {
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        gap: 20px;
        min-width: 300px;
        height: calc(100vh - 100px);
        padding: 30px;
        right: 0px;
        top: 100px;
        overflow-y: auto;
        transform: translateX(100%);
    }

    nav .nav__list .nav__item {
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(211, 211, 211, 0.2);
    }

    nav .nav__list .nav__item a {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        transition: 200ms ease-in-out;
    }

    .header nav .hamburger {
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header nav .hamburger > span {
        width: 35px;
        height: 4px;
        background-color: #fff;
        display: block;
        position: relative;
        transition: 200ms ease-in-out;    
    }
}